@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');

:root {
    --nav-bar-bg: rgb(56, 62, 76);
    --nav-bar-a-brdr: rgb(100, 109, 124);
    --nav-bar-a-hover: rgb(73, 80, 95);
    --card-bg: rgb(242, 242, 242);
    --green: rgb(23, 138, 39);
    --blue: rgb(22, 134, 193);
    --red: rgb(133, 36, 6);
    --text: rgb(74, 74, 74);
    --header: rgb(102, 102, 102);
}

* {
    font-family: "Open Sans";
    margin: 0;
    box-sizing: content-box;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

nav.flex {
    background-color: var(--nav-bar-bg);
}

nav.flex a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid var(--nav-bar-a-brdr);
}

nav.flex a:hover {
    background-color: var(--nav-bar-a-hover);
}

nav.flex a.active {
    background-color: var(--nav-bar-a-hover);
}

.hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(/img/img11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 55vh;
}

.hero * {
    font-weight: normal;
}

.hero h1 {
    font-size: 4rem;
    text-shadow: 2px 2px black;
}

.hero h3 {
    font-size: 1.5rem;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.layout {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    padding-top: 4rem;
}

.layout.half .card h2, .layout.quart .card h2 {
    align-self: center;
    color: var(--header);
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.layout .card {
    background-color: var(--card-bg);
}

.layout .card p {
    color: var(--text);
}

.layout.thirds .card {
    width: 31%;
}

.layout.half .card {
    width: 48%;
}

.layout.quart .card {
    width: 22%;
}

.layout.big .card {
    width: 100%;
}

.layout.half .card p {
    padding-top: 20px;
}


.layout .card p, .layout .card h2 {
    padding-left: 15px;
    padding-right: 15px;
}

.layout .card h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.layout .card img {
    width: 100%;
}

.b {
    color: white;
    text-decoration: none;
    font-size: 24.4px;
    align-self: center;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 25px;
    min-width: 78px;
}

.banner {
    display: flex;
    flex-flow: column nowrap;
    background-image: url(/img/img13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 25vh;
    color: white;
    margin-top: 64px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner * {
    font-weight: normal;
}

.banner h2 {
    font-size: 2rem;
    text-shadow: 1px 1px var(--header);
}

.banner p {
    width: 44%;
    font-size: 1.2rem;
}

.layout.big .card h2 {
    margin-top: 1.5rem;
    color: var(--header);
}

.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    background-image: url(/img/img14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    color: white;
    padding-top: 25px;
    margin-top: 64px;
}

.contact section h2 {
    font-size: 2rem;
    text-shadow: 1px 1px var(--header);
}

.contact section * {
    font-weight: normal;
}

/**/

.red {
    background-color: var(--red);
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.rh {
    color: darkgray;
}

.bh {
    color: var(--blue)
}

.gh {
    color: var(--green)
}

.b.readm {
    align-self: flex-end;
    background-color: white;
    border: 1px solid var(--header);
    color: var(--header);
    margin-right: 5rem;
}

.mr {
    margin-right: 15px;
}

.ml {
    margin-left: 15px;
}

.b.readm.end {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-self: center;
}

.b.readm.bbig {
    margin-right: 0;
    align-self: flex-start;
}